<div class="form-group<%= errors.blank? ? '' : ' has-error' %>"<%= popover.blank? ? '' : popover %>>
  <p class="col-lg-offset-2 col-lg-10">
    <%= image %>
  </p>
  <%= label %>
  <%= size.blank? ? '' : ('<div class="'+size+'">').html_safe %>
    <%= field %>
  <%= size.blank? ? '' : '</div>'.html_safe %>
  <%= '<span class="help-block">'.html_safe if help.present? or errors.present? %>
    <% if help.present? %>
      <%= help %>
    <% end %>
    <%= '<br />'.html_safe if help.present? and errors.present? %>
    <% if errors.present? %>
        <%= errors %>
    <% end %>
  <%= '</span>'.html_safe if help.present? or errors.present? %>
</div>
