<div class="control-group<%= errors.blank? ? '' : ' has-error' %>"<%= popover.blank? ? '' : popover %>>
  <p class="controls">
    <%= image %>
  </p>
  <%= label %>
  <div class="controls">
    <%= field %>
    <%= hidden_field %>
    <% if errors.present? %>
      <span class="help-inline">
        <%= errors %>
      </span>
    <% end %>
    <% if help.present? %>
      <span class="help-block">
        <%= help %>
      </span>
    <% end %>
  </div>
</div>
