<div class="control-group<%= errors.blank? ? '' : ' error' %>"<%= popover.blank? ? '' :  popover %>>
	<%= label %>
	<div class="controls">
		<%= field %>
		<% if errors %>
			<span class="help-inline">
				<%= errors %>
			</span>
		<% end %>
		<% if help %>
			<span class="help-block">
				<%= help%>
			</span>
		<% end %>
	</div>
</div>
