<div class="row<%= errors.blank? ? '' : ' error' %>"<%= popover.blank? ? '' : popover %>>
  <%= label %>
  <div class="col col-lg-9">
    <%= field %>
    <% if errors.present? %>
      <span class="help-inline">
        <%= errors %>
      </span>
    <% end %>
    <% if help.present? %>
      <span class="help-block">
        <%= help %>
      </span>
    <% end %>
  </div>
</div>
